.demo-area {
  height: 400px;
  border: 1px solid #eee;
  position: relative;
  overflow: hidden;
}

.block {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border: 1px solid blue;
  padding: 1rem;
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  overflow: hidden; 
  cursor: pointer;
}

.block.mt-draggable {
  border-color: red; 
}
.block.mt-scalable {
  border-color: green; 
}

.window {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  width: 50%;
  border: 1px solid #ddd;
  background-color: #fff;
  overflow: hidden;
  max-height: 250px; }
  .window > div {
    padding: 1rem; }
  .window > div.window-title {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    cursor: move;
    background-color: #aaa;
    min-height: 3.5rem;
    flex-basis: content; }
  .window > div.window-body {
    overflow: auto; }
